
.navbar-nav{
  text-align: center;
}
.banner{
    text-align: center;
    padding: 15px 100px;
    
}
#logo{   
    float:left ;
     width: 100px;
    height: 100px;

}
.log .row{
    padding: 7px;
}
.log{
    margin-left:4rem;
    margin-right: 4rem;
}
.login{
    margin: 70px 50px;
}
.log{
    text-align: center;
}
.log .card-header{
    font-size: x-large;
}
.Platform{
    padding: 4rem 0;
    text-align: center;
    width: 100%;
    height: 32rem;
    background-color: rgb(105, 105, 247);
    color: beige;
    line-height: 2;
}
.feature {
  display: inline-block;
  padding: 5rem 5rem;
}
.platform-img{
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-bottom: 7px;
}
.platform-img:hover{
    opacity: 75%;
}
.nav-item{
    
    padding: 0 5px;
}
.navbar{
    background-color: rgb(105, 105, 247);
    color: white;
    margin-bottom: 20px;
}
@media (max-width:800px){
    .banner{
        padding: 15px 25px;
    }
    .log{
        margin: 2rem 1rem;

    }
    #logo { 
    padding-right: 10px;
    width: 70px;
   height: 70px;}
}
#rcorners1 {
    border-radius: 25px;
    background: #dbffdf;
    padding: 20px;
}
  .nav-pills .nav-link.active{
    background-color: #a1c6fe;}