
.navbar-nav{
  text-align: center;
}
.banner{
    text-align: center;
    padding: 15px 100px;
    
}
#logo{   
    float:left ;
     width: 100px;
    height: 100px;

}
.log .row{
    padding: 7px;
}
.log{
    margin-left:4rem;
    margin-right: 4rem;
}
.login{
    margin: 70px 50px;
}
.log{
    text-align: center;
}
.log .card-header{
    font-size: x-large;
}
.Platform{
    padding: 4rem 0;
    text-align: center;
    width: 100%;
    height: 32rem;
    background-color: rgb(105, 105, 247);
    color: beige;
    line-height: 2;
}
.feature {
  display: inline-block;
  padding: 5rem 5rem;
}
.platform-img{
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    margin-bottom: 7px;
}
.platform-img:hover{
    opacity: 75%;
}
.nav-item{
    
    padding: 0 5px;
}
.grey-section{
    color: rgb(153, 153, 153);
}
.messages .card{
    width: 20rem;
    text-align: center;
}
.messages{
    text-align: center;
    margin: 5rem 2rem 5rem 6rem;
}
.card img{
    border-radius: 50%;
    margin: 1.5rem 0;
    width: 9rem;
    height: 9rem;
}
.card img:hover{
    width: 11rem;
    height: 11rem;
}
.navbar{
    background-color: rgb(105, 105, 247);
    color: white;
    margin-bottom: 20px;
}
@media (max-width:1088px){
    .banner{
        padding: 15px 25px;
    }
    .Platform h1{
        padding: 3rem 0;
    }
    .feature{
        padding:3rem 0;
    }
    .Platform{
        height: 78rem;
    }
    .log{
        margin: 2rem 1rem;

    }
    #logo { 
    padding-right: 10px;
    width: 70px;
   height: 70px;}
}
#rcorners1 {
    border-radius: 25px;
    background: #EEEEEE;
    padding-right: 20px;
    padding-left: 20px;
}
    
    #rcorners2 {
        border-radius: 20px;
}
#login{
    margin-top: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: large;
    color: #4179d6;
}
.copyright{
    font-size: smaller;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}
.text-white{
    font-size: larger;
    padding: 0.25rem;
}
.containers{
    padding-top: 2rem;
}#footer-links{
    padding-bottom: 0px;
    padding-top: 0.5rem;
}
#team{
    padding-bottom: 0rem;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.8rem;
}.teamtrial{
    background-color: hsla(0, 0%, 0%, 0.92);
}